In [148]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from sqlalchemy import create_engine
from config import postgres_conn_str

In [140]:
#Use chrome as browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

In [141]:
#visit the url
url = 'https://www.heritage.org/index/ranking'
browser.visit(url)

In [142]:
#parse html from url
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [144]:
#find all table data
results = soup.find_all('td')

#create empty lists
country_list, overall_list, change_list = ([] for i in range(3))

#append result to a list depending on the td class is associated with
for result in results:
    text = result.text.strip()
    if 'spacer' not in result['class']:
        if 'country' in result['class']:
            country_list.append(text)
        if 'overall' in result['class']:
            overall_list.append(text)
        if 'change' in result['class']:
            change_list.append(text)

#convert to dataframe
dict = {'country': country_list,'overall': overall_list,'change': change_list}
rankings_df = pd.DataFrame(dict)

In [145]:
rankings_df.head()

       country overall change
0    Singapore    89.4    0.0
1    Australia    82.6   +1.7
2    Hong Kong    89.1   -1.1
3  Switzerland    82.0   +0.1
4  New Zealand    84.1   -0.3

In [ ]:
engine = create_engine(f'postgresql://{postgres_conn_str}')