In [68]:
import pandas as pd
import pprint
import sqlalchemy
from sqlalchemy import create_engine
from splinter import Browser
from bs4 import BeautifulSoup
#from config import postgres_conn_str
import requests

#Extraction- Data taken from one CSV file another one from postgresSQL Database just to use a different source created a database name (country),
#and a table name country_code was created imported data to the table and brought it back as Data 2 in this project

# File to Load from csv file(Data# 1)
file_to_load = "Resources/countries_by_population_2019.csv"

# Read Purchasing File and store into Pandas data frame
country_population = pd.read_csv(file_to_load)

#connection made to connect to Postgres sql to bring the country_code table from country Database(Data#2 from SQL DB)
engine = create_engine('postgresql://postgres:postgres@localhost:5432/country')
connection = engine.connect()
country_code=pd.read_sql("SELECT * FROM country_code", connection)
country_code_population = country_population .merge(country_code, on='name')

#drop NA
country_code_population=country_code_population.dropna(how="all",axis=0)
country_code_population=country_code_population.dropna(how="all",axis=1)
country_code_population=country_code_population

#formating thevalues
country_code_population['Density']=country_code_population['Density'].map("{0:.2f}".format)
country_code_population['pop2019']=country_code_population['pop2019'].map("{0:.0f}".format)
country_code_population['area']=country_code_population['area'].map("{0:.0f}".format)

#rename columns and eliminating columns
country_code_population = country_code_population.rename(columns={"name": "country",
                                               "pop2019": "Population",
                                               "area": "Area","Density":"Density","cca2":"Country Code_1","cca3":"Country Code_2","ccn3":"Country Code_#"
                                               })
country_code_population=country_code_population[["country","Population","Area","Density","Country Code_1","Country Code_2","Country Code_#"]]
country_code_population.head()

,country,Population,Area,Density,Country Code_1,Country Code_2,Country Code_#
0,China,1433784,9706961,147.71,CN,CHN,156
1,India,1366418,3287590,415.63,IN,IND,356
2,United States,329065,9372610,35.11,US,USA,840
3,Indonesia,270626,1904569,142.09,ID,IDN,360
4,Pakistan,216565,881912,245.56,PK,PAK,586

In [69]:
!pip install config

Requirement already satisfied: config in c:\programdata\anaconda3\lib\site-packages (0.5.0.post0)

In [70]:
#url to be scraped
url = 'https://www.heritage.org/index/ranking'
# #use chrome as browser and visit url/parse html from url
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=True)
# browser.visit(url)
# html = browser.html
# soup = BeautifulSoup(html, 'html.parser')

# Retrieve page with the requests module and parse html from url
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
#find all table data
results = soup.find_all('td')

#create empty lists
country_list, overall_list, change_list = ([] for i in range(3))

#append result to a list depending on the td class is associated with
for result in results:
    text = result.text.strip()
    if 'spacer' not in result['class']:
        if 'country' in result['class']:
            country_list.append(text)
        elif 'overall' in result['class']:
            overall_list.append(text)
        elif 'change' in result['class']:
            change_list.append(text)

#convert to dataframe
dict = {'country': country_list,'overall': overall_list,'change': change_list}
rankings_df = pd.DataFrame(dict)

rankings_country_code_population=country_code_population.merge(rankings_df, on='country')
rankings_country_code_population.head()

,country,Population,Area,Density,Country Code_1,Country Code_2,Country Code_#,overall,change
0,China,1433784,9706961,147.71,CN,CHN,156,59.5,+1.1
1,India,1366418,3287590,415.63,IN,IND,356,56.5,+1.3
2,United States,329065,9372610,35.11,US,USA,840,76.6,-0.2
3,Indonesia,270626,1904569,142.09,ID,IDN,360,67.2,+1.4
4,Pakistan,216565,881912,245.56,PK,PAK,586,54.8,-0.2